.card-container{
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.reshuffle-container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reshuffle-container button{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color:#ED254E ;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    box-shadow: 10px 10px 30px rgba(00,00, 00, 0.16);
}

.reshuffle-container button:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 20px 20px 30px rgba(00,00, 00, 0.16);

}